__*
*.~*
*.dcu
*.stat
*.dof
*.hpp
*.tds
*.obj
*.exe
*.map
*.mps
*.mpt
*.dsk
*.drc
*.elf
*.ddp
*.bak
*.bpl
*.lib
*.dcp
*.bpi
*.ilc
*.ild
*.ilf
*.ils
*.identcache
*.local
*.ppu
*.compiled
*.o
*.obj
PDACTest.conf

UnitTest/*.html
UnitTest/dunit.ini
UnitTest/TestOutput
UnitTest/TestData